body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #fff;
}

.genre-header {
  text-align: center;
  padding: 30px 10px;
}


.genre-select-wrapper {
  margin: 20px;
  text-align: center;
}

#genre-select {
  padding: 8px 12px;
  font-size: 16px;
}


.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
}

.movie-card h3 {
  margin-top: 10px;
  font-size: 16px;
}
